@keyframes mysport01 {
    0% {
        top: 500px;
    }
    100% {
        top: 520px;
    }

}
@keyframes mysport02 {
     0% {
         top: 530px;
     }
     100% {
         top: 550px;
     }

 }
@keyframes mysport03 {
    0% {
        top: 560px;
    }
    100% {
        top: 580px;
    }

}
/*背景动画*/
@keyframes fly{
    0% {
        bottom: 0;
        transform: rotate(0deg);
    }

    100% {
        bottom: 1000px;
        transform: rotate(360deg);
    }
    
}
