body,b,p,a,dl,dt,dd,td,th,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,span,input,form,img,i{
    margin:0;
    padding:0;
    list-style:none;
    border:0;
    font-weight:normal;
    text-decoration:none;
}
body{
    overflow: hidden;
}
.welcome {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
    overflow: hidden;
}
.welcome .wel_in {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.75);
}
.welcome .wel_in img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
    overflow: hidden;
}
.welcome .title {
    width: 568px;
    height: 154px;
    background: url(../img/title.png) no-repeat -116px -168px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    margin-left: -284px;
    margin-top: -126px;
}
.welcome .title1 {
    width: 200px;
    height: 58px;
    background: url(../img/title1.png) no-repeat -300px -171px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    margin-left: -100px;
    margin-top: 100px;
}
.enter p:nth-of-type(1) {
    animation: mysport01 1.5s infinite;
    -webkit-animation: mysport01 1.5s infinite;
    -o-animation: mysport01 1.5s infinite;
    -moz-animation: mysport01 1.5s infinite;
    -ms-animation: mysport01 1.5s infinite;
}
.enter p:nth-of-type(2) {
    animation: mysport02 1.5s infinite;
    -webkit-animation: mysport02 1.5s infinite;
    -moz-animation: mysport02 1.5s infinite;
    -ms-animation: mysport02 1.5s infinite;
    -o-animation: mysport02 1.5s infinite;
}
.enter p:nth-of-type(3) {
    animation: mysport03 1.5s infinite;
    -moz-animation: mysport03 1.5s infinite;
    -ms-animation: mysport03 1.5s infinite;
    -o-animation: mysport03 1.5s infinite;
    -webkit-animation: mysport03 1.5s infinite;
}
.enter p {
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -6px;
    font-size: 1em;
    border: 3px solid #fff;
    transform: rotate(45deg);
    border-radius: 2px;
    border-left: 0;
    border-top: 0;
    z-index: 100;
    cursor: pointer;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
/*欢迎页结束*/
.gps {
    position: fixed;
    right: 20px;
    top: 50%;
    margin-top: -110px;
    z-index: 10;
}
.gps .current {
    opacity: 1;
}
.gps li {
    width: 34px;
    height: 34px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    opacity: 0.6;
}
.gps .show .circle01 {
    width: 34px;
    height: 34px;
    border: 1px solid #00ff00;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -17px 0 0 -17px;
}
.gps li .circle01 {
    width: 22px;
    height: 22px;
    border: 2px solid #00ff00;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -14px 0 0 -12px;
}
.gps .show .circle02 {
    width: 24px;
    height: 24px;
    border: 2px solid #00ff00;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -13px 0 0 -13px;
}
.gps .show .circle03 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5px 0 0 -5px;
    background: #fff000;
}
/*导航*/
.nav {
    width: 100%;
    height: 80px;
    background: rgba(0,0,0,0.6);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}
.nav .logo {
    width: 80px;
    height: 80px;
    float: left;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -40px;
}
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
.nav img {
    width:80px;height:63px;
    padding-top: 10px;
}
.nav ul {
    width: 50%;
    height: 80px;
    margin: 0 auto;
    position: relative;
}
.nav .current {
    color: #fff000;
}
.nav ul li {
    float: left;
    width: 25%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
}
/*背景*/
.bg{
    overflow: hidden;
}
.bg div {
    position: absolute;
    z-index: 2;
}
.fly01 {
    width: 200px;
    height: 200px;
    background: rgba(255,255,255,0.15);
    box-shadow: 0 0 10px;
    left: 0;
    bottom: 0;
    animation: fly 18s linear infinite;
}
.fly02 {
    width: 100px;
    height: 100px;
    background: rgba(255,255,255,0.15);
    box-shadow: 0 0 10px;
    position: absolute;
    left: 300px;
    bottom: 0;
    animation: fly 8s linear infinite;
}
.fly03 {
    width: 50px;
    height: 50px;
    background: rgba(255,255,255,0.15);
    box-shadow: 0 0 10px;
    position: absolute;
    left: 500px;
    bottom: 0;
    animation: fly 15s linear infinite;
}
.fly04 {
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,0.15);
    box-shadow: 0 0 10px;
    position: absolute;
    left: 550px;
    bottom: 0;
    animation: fly 10s linear infinite;
}
.fly05{
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,0.15);
    box-shadow: 0 0 10px;
    position: absolute;
    left: 600px;
    bottom: 0;
    animation: fly 12s linear infinite;
}
.fly06 {
    width: 15px;
    height: 15px;
    background: rgba(255,255,255,0.15);
    box-shadow: 0 0 10px;
    position: absolute;
    left: 50px;
    bottom: 0;
    animation: fly 25s linear infinite;
}
.fly07 {
    width: 800px;
    height: 800px;
    background: rgba(255,255,255,0.15);
    box-shadow: 0 0 10px;
    position: absolute;
    right: -500px;
    bottom: -500px;
    animation: fly 25s linear infinite alternate;
}
.fly08 {
    width: 10px;
    height: 10px;
    background: rgba(255,255,255,0.15);
    box-shadow: 0 0 10px;
    position: absolute;
    right: 700px;
    bottom: 0;
    animation: fly 15s linear infinite;
}
/*内容页*/
.subnav ol li:hover {
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    background: #fff;
    color: #000;
}
.content {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.content>div:nth-of-type(1) {
    background: url(../img/bg6.jpg);
    background-size: cover;
}
.content>div {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.one .screen {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 5;
}
.one .head {
    width: 100%;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50%;
    margin-top: -100px;
    text-align: center;
}
.one .out .footer {
    opacity: 0.1;
    margin-top: 500px;
}
.one .footer {
    transition: all 2s;
    width: 100%;
    height: 63px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50%;
    margin-top: 50px;
    text-align: center;
}
/*.one.out .head span {
    opacity: 0.1;
    margin: 0 50px;
}
.one .head span:nth-of-type(1) {
    background-position: -254px -108px;
}
.one .head span {
    transition: all 2s;
    width: 54px;
    height: 45px;
    display: inline-block;
    background: url(../img/title2.png);
    margin: 0 20px;
}
.one .head span:nth-of-type(2) {
    background-position: -345px -108px;
}
.one .head span:nth-of-type(3) {
    background-position: -438px -108px;
}
.one .head span:nth-of-type(4) {
    background-position: -529px -108px;
}
.one .head span:nth-of-type(5) {
    background-position: -620px -108px;
}
.one .head span:nth-of-type(6) {
    background-position: -711px -108px;
}
.one .footer span:nth-of-type(1) {
    background-position: -149px -247px;
}
.one .footer span {
    width: 76px;
    height: 63px;
    display: inline-block;
    background: url(../img/title2.png);
    margin: 0 20px;
}

.one .footer span:nth-of-type(2) {
    background-position: -276px -247px;
}

.one .footer span:nth-of-type(3) {
    background-position: -403px -247px;
}

.one .footer span:nth-of-type(4) {
    background-position: -530px -247px;
}
.one .footer span:nth-of-type(5) {
    background-position: -657px -247px;
}
.one .footer span:nth-of-type(6) {
    background-position: -784px -247px;
}*/
/*第二屏*/
.content>div:nth-of-type(2) {
    background: url(../img/bg.jpg);
    background-size: cover;
}
.two_con {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: relative;
    z-index: 5;
}
.two.out .first {
    margin-left: -800px;
    margin-top: 500px;
    opacity: 0;
}
.two_con>div:nth-of-type(1) {
    margin-left: -500px;
}
.two_con>div {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    cursor: pointer;
    margin-top: -100px;
    transition: all 2s;
}
.two_con .first_in {
    position: relative;
}
.first_in .ps {
    background: #2c2b47;
    color: #38c4fb;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    border: 5px solid #38c4fb;
    box-sizing: border-box;
}
.first_in .current {
    display: block;
}
.first_in>div {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.wave {
    background: #2c2b47;
    border: 5px solid #38c4fb;
    box-sizing: border-box;
    text-align: center;
}
.wave span {
    color: #38c4fb;
    margin-top: 50px;
}
.two_con span {
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
}
.two_con .second_in {
    position: relative;
}
.second_in .ai {
    background: #1f140c;
    color: #ff7e17;
    text-align: center;
    line-height: 200px;
    font-size: 50px;
    border: 5px solid #ff7e17;
    box-sizing: border-box;
}
.second_in .current {
    display: block;
}
.second_in>div {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.wave1 {
    background: #1f140c;
    text-align: center;
    border: 5px solid #ff7e17;
    box-sizing: border-box;
}
.wave1 span {
    color: #ff7e17;
    margin-top: 60px;
}
.two_con span {
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
}
.two_con .third_in {
    position: relative;
}
.third_in .dw {
    background: #131f0e;
    color: #72f900;
    text-align: center;
    line-height: 200px;
    font-size: 60px;
    border: 5px solid #72f900;
    box-sizing: border-box;
}
.third_in .current {
    display: block;
}
.third_in>div {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.wave2 {
    background: #131f0e;
    text-align: center;
    border: 5px solid #72f900;
    box-sizing: border-box;
}
.wave2 span {
    color: #72f900;
    margin-top: 10px;
}
.two_con span {
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
}
.two.out .third {
    margin-left: 800px;
    margin-top: 500px;
    opacity: 0;
}
.two_con>div:nth-of-type(3) {
    margin-left: 300px;
}
.two_con>div {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    cursor: pointer;
    margin-top: -100px;
    transition: all 2s;
}
.two.out .second {
    margin-top: 500px;
    opacity: 0;
}
.two_con>div:nth-of-type(2) {
    margin-left: -100px;
}
.two_con>div {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    cursor: pointer;
    margin-top: -100px;
    transition: all 2s;
}
/*第三屏*/
.three .screen {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}
.content>div:nth-of-type(3) {
    background: url(../img/bg4.jpg);
    background-size: cover;
}
.three.out .subnav ol {
    margin-left: -2000px;
    transform: scale(3,3);
    -webkit-transform: scale(3,3);
    -moz-transform: scale(3,3);
    opacity: 0;
}
.subnav ol {
    transition: all 2s;
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition-delay: 1s;
    -moz-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    width: 150px;
    height: 340px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -620px;
    margin-top: -170px;
}

ol, ul {
    list-style: none;
}
ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.subnav ol li {
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    background: #000;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.three.out .app {
    opacity: 0;
    margin-top: 1000px;
}
.three .app {
    transition: all 2s;
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    perspective: 3000px;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -140px;
    z-index: 5;
}
.three.out .app ul {
    opacity: 0;
    margin-top: 1000px;
}
.three .app ul {
    position: relative;
    width: 163px;
    height: 290px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    animation: run 30s linear infinite;
    -o-animation: run 30s linear infinite;
    -webkit-animation: run 30s linear infinite;
    -moz-animation: run 30s linear infinite;
    transform: rotateX(-10deg);
    -webkit-transform: rotateX(-10deg);
    -moz-transform: rotateX(-10deg);
}
@keyframes run{
    0% {
        transform: rotateX(-10deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(-10deg) rotateY(360deg);
    }

}
.three .app ul li:nth-of-type(1) {
    background: url(../img/app.png) no-repeat 0 0;
    background-size: cover;
}
.three .app ul li {
    width: 163px;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    height: 310px;
    font-size: 80px;
    text-align: center;
    line-height: 290px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
}
.three .app ul li:nth-of-type(2) {
    background: url(../img/app1.png) no-repeat 0 0;
    background-size: cover;
}
.three .app ul li:nth-of-type(3) {
    background: url(../img/app2.png) no-repeat 0 0;
    background-size: cover;
}
.three .app ul li:nth-of-type(4) {
    background: url(../img/app3.png) no-repeat 0 0;
    background-size: cover;
}
.three .app ul li:nth-of-type(5) {
    background: url(../img/app4.png) no-repeat 0 0;
    background-size: cover;
}
.three .app ul li:nth-of-type(6) {
    background: url(../img/app5.png) no-repeat 0 0;
    background-size: cover;
}
.three .app ul li:nth-of-type(7) {
    background: url(../img/app6.png) no-repeat 0 0;
    background-size: cover;
}
.three .app ul li:nth-of-type(8){
    background: url(../img/app7.png) no-repeat 0 0;
    background-size: cover;
}
.three .app ul li a {
    width: 163px;
    height: 290px;
    display: inline-block;
}
.three .app ul li a {
    width: 163px;
    height: 290px;
    display: inline-block;
}
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
.three .app ul li:hover {
    width: 220px;
    height: 450px;
    margin-top: -80px;
}
/*web*/
.three .web {
    width: 800px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -200px;
    z-index: 5;
    display: none;
}
.three.out .web ul {
    margin-top: 1000px;
    transform: scale(0.1,0.1);
    -webkit-transform: scale(0.1,0.1);
    -moz-transform: scale(0.1,0.1);
    opacity: 0;
}
.three .web ul {
    transition: all 1.5s;
    -moz-transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition-delay: 1s;
    -moz-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    width: 800px;
    height: 300px;
    padding: 25px 0 0 50px;
}
.three .web li:nth-of-type(1) {
    background: url(../img/pingguo.jpg) no-repeat 0 0;
    background-size: cover;
}
.three .web li:nth-of-type(1):hover {
    /*background-position: 0 0px;*/
    background: url(../img/pglogo.jpg) no-repeat 0 0;
    background-size: cover;
}
.three .web li {
    transition: all 0.8s;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    float: left;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    margin: 0 50px 50px 0;
    cursor: pointer;
}
.three .web li:nth-of-type(2) {
    background: url(../img/yq.jpg) no-repeat 0 0;
    background-size: cover;
    background-position: center;
}
.three .web li:nth-of-type(2):hover {
    background: url(../img/bdyq.jpeg) no-repeat 0 0;
    background-size: cover;

}
.three .web li:nth-of-type(3) {
    background: url(../img/wyyx.jpg) no-repeat 0 0;
    background-size: cover;
}
.three .web li:nth-of-type(3):hover {
    background: url(../img/wylogo.jpg) no-repeat 0 0;
    background-size: cover;
    background-position: center;
}
.three .web li:nth-of-type(4) {
    background: url(../img/dd.jpg) no-repeat 0 0;
}
.three .web li:nth-of-type(4):hover {
    background-position: 0 -450px;
}
.three .web li:nth-of-type(5) {
    background: url(../img/taobao.jpg) no-repeat 0 0;
}
.three .web li:nth-of-type(5):hover {
    background-position: 0 -600px;
}
.three .web li:nth-of-type(6) {
    background: url(../img/tmall.jpg) no-repeat 0 0;
}
.three .web li:nth-of-type(6):hover {
    background-position: 0 -750px;
}
.three .web li:hover {
    background: url(../img/web-bg.png);
}
.three .web ul li a {
    width: 200px;
    height: 150px;
    display: inline-block;
}
/*icon*/
.three.out .icon {
    margin-top: 1000px;
    transform: scale(0.1,0.1);
    -webkit-transform: scale(0.1,0.1);
    -moz-transform: scale(0.1,0.1);
    opacity: 0;
}
.three .icon {
    transition: all 1.5s;
    -moz-transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition-delay: 1s;
    -moz-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    width: 980px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -400px;
    z-index: 5;
    display: none;
}
.icon .icon_show {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
}
.icon ul {
    position: relative;
}
.three .icon li {
    width: 175px;
    height: 180px;
    border: 3px solid #fff000;
    float: left;
    margin: 0 50px 50px 0;
    cursor: pointer;
    transition: all 1.5s;
    -moz-transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
}
/*ui*/
.three .ui {
    transition: all 2s;
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    perspective: 3000px;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -120px;
    z-index: 5;
    display: none;
}
.three .ui ul li:nth-of-type(1) {
    background: url(../img/ui.jpg) no-repeat 0 0;
    background-size: cover;
}
.three .ui ul li {
    width: 163px;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    height: 290px;
    font-size: 80px;
    text-align: center;
    line-height: 290px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
}
.three .ui ul li:nth-of-type(2) {
    background: url(../img/ui1.jpg) no-repeat 0 0;
    background-size: cover;
}
.three .ui ul li:nth-of-type(3) {
    background: url(../img/ui2.jpg) no-repeat 0 0;
    background-size: cover;
}
.three .ui ul li:nth-of-type(4) {
    background: url(../img/ui3.jpg) no-repeat 0 0;
    background-size: cover;
}
.three .ui ul li:nth-of-type(5) {
    background: url(../img/ui4.jpg) no-repeat 0 0;
    background-size: cover;
}
.three .ui ul li:nth-of-type(6) {
    background: url(../img/ui5.jpg) no-repeat 0 0;
    background-size: cover;
}
.three .ui ul li:nth-of-type(7) {
    background: url(../img/ui6.jpg) no-repeat 0 0;
    background-size: cover;
}
.three .ui ul li:nth-of-type(8) {
    background: url(../img/ui7.jpg) no-repeat 0 0;
    background-size: cover;
}
/*banner*/
.banner {
    transition: all 1.5s;
    -moz-transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition-delay: 1s;
    -moz-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    width: 800px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -200px;
    z-index: 5;
    display: none;
}
.banner_in {
    position: relative;
    width: 800px;
    height: 400px;
}
.banner_in ul {
    position: relative;
    z-index: 1;
}
.banner_in ul li {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.banner_in ul li a img{
    width:800px;
    height:400px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.banner_in span{
    background: url(../img/arr.png) no-repeat left 0;
    width: 40px;
    height: 70px;
    float: left;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 50%;
    margin-top: -35px;
    cursor: pointer;
    display: none;
}
.banner_in .right {
    right: 0;
    left: auto;
    background-position: right top;
}
.banner_in span {
    background: url(../img/arr.png) no-repeat left 0;
    width: 40px;
    height: 70px;
    float: left;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 50%;
    margin-top: -35px;
    cursor: pointer;
    display: none;
}
.banner_in ol {
    position: absolute;
    left: 50%;
    margin-left: -140px;
    bottom: -60px;
    z-index: 2;
}
.banner_in ol li {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    line-height: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.banner_in ol .current{
    background:yellow;
}
.banner_in .current{
    display: block;
}
/*关于我们*/
.content>div:nth-of-type(4) {
    background: url(../img/bg5.jpg);
    background-size: cover;
}
.about {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.8);
    z-index: 5;
}
.about_in {
    width: 70%;
    height: 70%;
    position: absolute;
    left: 15%;
    top: 15%;
    position: relative;
    box-shadow: 0 0 20px;
    z-index: 10;
}
.about_in .span01 {
    width: 550px;
    height: 250px;
    margin-left: -275px;
    margin-top: -80px;
    background: url(../img/zwpj.png) no-repeat;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 4;
    cursor: pointer;
}
.about_in .span02 {
    width: 550px;
    height: 120px;
    margin-left: -275px;
    margin-top: -40px;
    background: url(../img/all.png) no-repeat;
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 4;
    cursor: pointer;
}
/*补充*/
.three .app ul li a {
    width: 163px;
    height: 290px;
    display: inline-block;
}
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
.three .icon li img{
    display: block;
    width:175px;height: 180px;
}









